Repository UnBArqDsw2021-2/2021.2_G2_Ki-Limpinho, pull requests merged in 2022-03, with the labels that each got.

#156 #127 Multiton
  docs/padroes_de_projeto/GOFS/temporarios/multiton.md
Labels: documentation, sprint 6, GOFS criacionais

#155 #126 Singleton
  docs/padroes_de_projeto/GOFS/temporarios/Singleton.md
Labels: documentation, sprint 6, GOFS criacionais

#159 GoF de Criação Builder #124
  docs/assets/img/gof/application_builder.png
  docs/assets/img/gof/structure_builder.png
  docs/padroes_de_projeto/GOFS/Criacionais.md
  docs/padroes_de_projeto/GOFS/temporarios/Builder.md
  mkdocs.yml
Labels: documentation, sprint 6, GOFS criacionais

#161 125 gofs criacionais prototype
  docs/assets/img/padroes/codigo-dois.png
  docs/assets/img/padroes/codigo-tres.png
  docs/assets/img/padroes/codigo-um.png
  docs/assets/img/padroes/command-example.png
  docs/assets/img/padroes/prototype-design.png
  docs/assets/img/padroes/prototype.png
  docs/padroes_de_projeto/GOFS/Criacionais.md
  docs/padroes_de_projeto/GOFS/command.md
Labels: documentation, sprint 6, GOFS criacionais

#169 138 GOF Mediator
  docs/padroes_de_projeto/GOFS/Comportamentais.md
  mkdocs.yml
Labels: documentation, sprint 6, GOFS comportamentais

#170 117: GRASP especialista
  docs/assets/img/grasp/especialista.jpeg
  docs/padroes_de_projeto/GRASPS/Especialista.md
  mkdocs.yml
Labels: documentation, Grasps, sprint 6

#167 #137 gofs iterator
  docs/padroes_de_projeto/GOFS/Comportamentais.md
  mkdocs.yml
Labels: documentation, sprint 6, GOFS comportamentais

#158 #140 State
  docs/assets/img/gofs/facade.png
  docs/assets/img/gofs/state.png
  docs/padroes_de_projeto/GOFS/Comportamentais.md
  docs/padroes_de_projeto/GOFS/temporarios/Facade.md
  docs/padroes_de_projeto/GOFS/temporarios/State.md
Labels: documentation, sprint 6, GOFS comportamentais

#154 #136 gofs command
  docs/padroes_de_projeto/GOFS/Comportamentais.md
  mkdocs.yml
Labels: documentation, sprint 6, GOFS comportamentais

#160 139 gofs comportamentais observer
  docs/assets/img/padroes/imagem-observer.png
  docs/assets/img/padroes/observer-padrao.png
  docs/padroes_de_projeto/GOFS/Comportamentais.md
  docs/padroes_de_projeto/GOFS/GofsComportamentaisObserver.md
  mkdocs.yml
Labels: documentation, sprint 6, GOFS comportamentais

#168 122: GOFs Abstractfactory
  docs/padroes_de_projeto/GOFS/Criacionais.md
Labels: documentation, sprint 6, GOFS criacionais

#165 143 padrões emergentes REST
  docs/padroes_de_projeto/EMERGENTES/REST.md
  mkdocs.yml
Labels: documentation, Padrões de Projeto, sprint 6, Padrões Emergentes

#174 #173 docs: Testes de Integração
  docs/TesteIntegracao.md
  mkdocs.yml
Labels: documentation, sprint 6, code

#175 #142 padroes emergentes MVC
  docs/assets/img/padroes_de_projeto/MVC.jpg
  docs/assets/img/padroes_de_projeto/controller.jpeg
  docs/assets/img/padroes_de_projeto/model.jpeg
  docs/padroes_de_projeto/EMERGENTES/MVC.md
  docs/padroes_de_projeto/EMERGENTES/REST.md
  mkdocs.yml
Labels: documentation, Padrões de Projeto, sprint 6, Padrões Emergentes

#171 #130 GoFs Estruturais Adapter
  docs/assets/img/gof/modeloAdapter.jpg
  docs/padroes_de_projeto/GOFS/temporarios/adapter(estrutural).md
Labels: documentation, sprint 6, GOFS estruturais

#162 #131 gofs bridge
  docs/padroes_de_projeto/GOFS/Estruturais.md
Labels: documentation, sprint 6, GOFS estruturais

#181 #134- GOFS Estruturais-Flyweight
  docs/assets/img/gofs/flyweight.jpeg
  docs/assets/img/gofs/proxy.jpeg
  docs/padroes_de_projeto/GOFS/Estruturais.md
  mkdocs.yml
Labels: documentation, Padrões de Projeto, sprint 6, GOFS estruturais

#178 #135- GOFS Estruturais (Proxy)
  docs/assets/img/grasp/proxy.jpeg
  docs/padroes_de_projeto/GOFS/Estruturais.md
  mkdocs.yml
Labels: documentation, Padrões de Projeto, sprint 6, GOFS estruturais
